[user]
	name = Cubball
	email = 138378823+Cubball@users.noreply.github.com
[includeIf "gitdir:D:/Projects/Work/"]
    path = .gitconfig-work
[includeIf "gitdir:D:/Projects/Work/FS"]
    path = .gitconfig-fs
[core]
	editor = nvim
[init]
	defaultBranch = main
