[user]
	name = Cubball
	email = 138378823+Cubball@users.noreply.github.com
[include]
    path = .gitconfig-conditional
[core]
	editor = nvim
	autocrlf = false
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	username = Cubball
